body {
    margin: 0;
    height: 100;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}

.animated-box {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    animation: moveAndChangeColor 8s infinite alternate-reverse;
}

@keyframes moveAndChangeColor {
    0% {
        top: 0;
        left: 0;
        background-color: red;
    } 
       
    25% {
        top: 0;
        left: 75%;
        background-color: blue;
    }
    50% {
        top: 75%;
        left: 75%;
        background-color: yellow;
    }
    75% {
        top: 75%;
        left: 0;
        background-color: green;
    }
    100% {
        top: 0;
        left: 0;
        background-color: orange;
    }
} 