* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Анимационный фон */
.animated-bg {
    background-color: #99dfebc2;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    animation: bg-animate 10s linear infinite alternate;
    margin-top: 300px;
}

@keyframes bg-animate {
    from {background-position: 0%;}
    to   {background-position: 100%; transform: translateY(-10px); background-color: rgb(250, 148, 130);}
}

body::before, body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, .05), transparent);
    opacity: 0.5;
    filter: blur(10px);
    mix-blend-mode: overlay;
}

body::before {
    animation: stars-flicker 5s ease-in-out infinite;
}

@keyframes stars-flicker {
    0%, 100% {opacity: 0.3;}
    50%      {opacity: 0.6;}
}

/* Основная навигация */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
}

nav a {
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    text-decoration: none;
    
}

nav a:hover {
    color: #ffb74d;
}

/* Основной контент */
section {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    color: rgb(0, 0, 0);
    line-height: 1.6;
    min-height: calc(100vh - 100px); /* Чтобы секции занимали всю высоту экрана */
   
}

.project img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  
    color: #000;
}

/* Форма контактов */
form label {
    display: block;
    margin-bottom: 5px;
 color: #000000;
}

form input[type="text"], form input[type="email"], form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
color: #000000;

}

form button {
    background-color: #ffb74d;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
   
}

form button:hover {
    background-color: #faa61a;
}

/* Подвал */
footer {
    text-align: center;
    color: gray;
    padding: 10px;
    background-color: #16171f;
    bottom: 0;
    width: 100%;
    
}
.container {
text-align: center;
color: #ffffff;
font: rgb(255, 255, 255);
width: 100%;
    height: 100%;
}


        h1 {
            font-size: 3em;
            letter-spacing: 0.1em;
            line-height: 1.2;
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow: hidden;
            
        }

        h1::after {
            content: '|'; /* Символ мерцающего курсора */
            animation: blink-cursor 1s step-end infinite;
        }

        @keyframes typing-text {
            from { width: 0; }
            to   { width: 100%; }
        }

        @keyframes blink-cursor {
            from, to { opacity: 1; }
            50%      { opacity: 0; }
        }

 
  @keyframes typing { 
    from { width: 0 } 
    to { width: 100% } 
 }
 @keyframes blink-caret { 
from, to { border-color: transparent }
 50% { border-color: black } } 


 
.circle-container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -2;
        }

        .circle {
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            filter: blur(20px);
            animation: floatAround 10s infinite cubic-bezier(.5,.1,.25,1);
        }

        @keyframes floatAround {
            0%, 100% {transform: translateY(-50%) rotateZ(0deg);}
            50% {transform: translateY(50%) rotateZ(360deg);}
        }

        .circle:nth-child(1) {top: 10%; left: 20%; background-color: rgba(255, 0, 255, 0.5);}
        .circle:nth-child(2) {top: 30%; left: 70%; background-color: rgba(0, 255, 255, 0.5);}
        .circle:nth-child(3) {top: 50%; left: 40%; background-color: rgba(255, 255, 0, 0.5);}
        .circle:nth-child(4) {top: 70%; left: 10%; background-color: rgba(0, 255, 0, 0.5);}
        .circle:nth-child(5) {top: 90%; left: 60%; background-color: rgba(255, 0, 0, 0.5);}
       .flip-card {
    background-color: transparent;
    width: 400px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #9b9696;
    color: rgb(0, 0, 0);
}

.flip-card-back {
    background-color: #9f4d9f;
    color: white;
    transform: rotateY(180deg);
}
.round {
    border-radius: 300px; /* Радиус скругления */
    border: 3px solid rgb(0, 0, 0); /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
    transform: translate3d(0px, 0px, 0px);
    transition: transform .2s ease-in-out;
   }
.round:hover {
    transform: translate3d(0px, -15px, 0px);
}
.about {
  width: 50%;
    height: 50%;   
}
.c {
    background-color: #ffffff;
}
.v {
    background-color: #ffffff;
}
.b {
    background-color: #ffffff;
}
.t {
    position: center;
}
.k {
    color: #800000;
}